<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-androidwidgets" version="0.0.1">
   <name>AndroidWidgets</name>
   <js-module name="AndroidWidgets" src="www/AndroidWidgets.js">
      <clobbers target="cordova.plugins.AndroidWidgets" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="AndroidWidgets">
            <param name="android-package" value="cordova-plugin-androidwidgets.AndroidWidgets" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/AndroidWidgets.java" target-dir="src/cordova-plugin-androidwidgets/AndroidWidgets" />
   </platform>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="AndroidWidgets">
            <param name="ios-package" value="AndroidWidgets" />
         </feature>
      </config-file>
      <source-file src="src/ios/AndroidWidgets.m" />
   </platform>
</plugin>